@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #ffffff;
}

html {
	-webkit-tap-highlight-color: transparent;
	-webkit-scrollbar-thumb-background: #ffffff;
	/* -webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none; */
}